global:
  environment: production
  openshift: true

environment: production

keycloak:
  enabled: true
  authUrl: https://sso-e27db1-dev.apps.gold.devops.gov.bc.ca/auth
  realm: ISB
  realmUrl: https://sso-e27db1-dev.apps.gold.devops.gov.bc.ca/auth/realms/ISB
  clientId: react-baseapp
  adminClientId: WEB-API
  ClientId: WEB-API

postgresql:
  enabled: false

frontend:
  route:
    host: react-baseapp-{{cookiecutter.licence_plate}}-prod.apps.emerald.devops.gov.bc.ca
  apiUrl: "{{cookiecutter.app_name}}-webapi-core:8080"

backend:
  database:
    existingSecret: "{{cookiecutter.app_name}}-database"
    existingSecretKey: connectionString
